extends layout

block content
  div.col-12
    h1.col-6.crud-title #{title}
    form.col-6.crud-form(method='POST', action='/add')
      .form-group
        label(for='addName') Name
        input#addName.form-control(name='name', type='text')
      .form-group
        label(for='addImgSrc') Image
        input#addImgSrc.form-control(name='imgSrc', type='text')
      .form-group
        label(for='addTextBrief') Description
        textarea#addTextBrief.form-control(name='textBrief', type='text', rows='4')
        br
        input.btn.btn-primary(type='submit', value='Submit')
