aside.aside.col-3.d-flex.flex-column
    section.section-aside
        img.the-properties(src='./assets/title-theproperties.png', height='17', alt='properties')
        h3 Book now
        h2 01273 624459
        p
            | All our 
            a(href='www.brightonholidayhomes.co.uk')
                | Brighton holiday lets
            |  are selected by Brighton holiday Homes personally to ensure they are furnished
            |             stylishly and equipped to a high standard. We only take on the best holiday lets in Brighton and Hove. All
            |             prices are fully inclusive of utility bills and bedlinen.
    section.section-aside
        h2 NEWS
        img.news-pic(src='./assets/office_front.jpg', alt='News image')
        p
            | We’ve been working with some of the best Sussex golf courses to create fabulous bespoke mid week golf
            | breaks for you to
            | enjoy. 3 nights, 3 rounds of golf, breakfast at the courses + stay a 4th day for free – total price £175 pp
            | based on 8
            | friends.
    section.section-aside
        h2 SPECIAL OFFER
        h4 AUTUMN SALE!
        img.offers-pic(src='./assets/small-family-photo.jpg', alt='special offer image')
        p
            | HUGE DISCOUNTS! Book and stay in the next six weeks and receive a massive discount! Call for details 01273
            | 624459
        h4 Short Term Lets for long term clients.
        p
            | f you are a contractor in Brighton for work and require a short term let, we can offer a great rate. If you
            | only need somewhere Monday-Friday we have lots of options. Call for details.
