extends layout

block content
  div.col-12
    h1.crud-title #{title}: #{property.name}
    form.crud-form(method='POST', action='/properties/delete/'+property._id)
      br
      input.btn.btn-primary(type='submit', value='Submit')
