doctype html
html(lang='en')
	head
		// Required meta tags
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		// Bootstrap CSS
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel='stylesheet', type='text/css', href='css/custom.css')
		title bhh-expressGen-pug-crud-1
	body
		// SOCIAL ICONS
		.social-fixed
			ul.social-list
				li
					a(href='https://twitter.com/btnholidayhomes')
						img(src='./assets/icon-top-twitter.png', width='28', height='28', alt='Follow us on Twitter')
				li
					a(href='https://www.facebook.com/BrightonHolidayHomes')
						img(src='./assets/icon-top-facebook.png', width='28', height='28', alt='Follow us on Facebook')
				li
					a(href='web/20181109014122/https://plus.google.com/b/102501851703894954080/+brightonholidayhomes')
						img(src='./assets/icon-top-google-plus.png', width='28', height='28', alt='Follow our Google+ page')
		.container
			// BLANK DIV
			.row
				.header-blank.col-12
			// HEADER
			.row
				header.header.col-12
					// BHH LOGO & 'BACK HOME'
					.row
						.logo-box.col-3
							a(href='/')
								img.logo(src='./assets/logo.png', height='44', alt='brightonholidayhomes')
							a(href='www.brightonholidayhomes.co.uk')
								img.back-home(src='./assets/back-home.png', height='15', alt='back home button')
						// SLEEPS: 1/2 ...31/40
						.numbers.col-6
							.container
								.row
									.sleeps.col-2 sleeps:
									.range-small.col-1
										a(href='https://www.brightonholidayhomes.co.uk/sleeps/range/1-2') 1/2
									.range-small.col-1
										a(href='https://www.brightonholidayhomes.co.uk/sleeps/range/1-2') 3/5
									.range-small.col-1
										a(href='https://www.brightonholidayhomes.co.uk/sleeps/range/1-2') 6/9
									.range-large.col-1
										a(href='https://www.brightonholidayhomes.co.uk/sleeps/range/1-2') 10/19
									.range-large.col-1
										a(href='https://www.brightonholidayhomes.co.uk/sleeps/range/1-2') 20/30
									.range-large.col-1
										a(href='https://www.brightonholidayhomes.co.uk/sleeps/range/1-2') 31/40
						// LANDLORD 3D REVOLUTION
						.col-3.d-flex.flex-row-reverse.pb-10px
							a(href='www.brightonholidayhomes.co.uk')
								img.landlords.align-right(src='./assets/landlords@2x.png', height='69', alt='landlords 3D rev')
			// BLANK DIV
			.row
				.lower-blank.col-12
			// NAV
			.nav-block.row
				.col-2
					.quick-access QUICK ACCESS
				nav.navbar.navbar-expand-lg.col-8
					ul.navbar-nav
						li.nav-item
							a(href='#') All properties
						li.nav-item
							a(href='#') About us
						li.nav-item
							a(href='#') For groups
						li.nav-item
							a(href='#') Our team
						li.nav-item.active
							a(href='#') Let your property
						li.nav-item
							a(href='#') Contact us
						li.nav-item
							a(href='#') Blog
						li.nav-item.dropdown
						a.dropdown-toggle.admin-button(role='button', data-toggle='dropdown', href='http://www.brightonholidayhomes.co.uk/properties') Admin
						.dropdown-menu.admin-dropdown
							a.dropdown-item.admin-item(href='/properties/add') Add Property
							a.dropdown-item.admin-item.disabled(href='#') Edit Property
							a.dropdown-item.admin-item.disabled(href='#') Delete Property
				.col-2
					a.golf-breaks(href='#')
						img(src='./assets/midweek-golf-breaks.png', height='24', alt='golf breaks')
					a.marina-apartments(href='#')
						img(src='./assets/marina-apartments.png', height='24', alt='marina property')
			.row
				block content
			.row
				footer.footer.col-12
					.row
						.col-3
							img.footer-logo(src='./assets/logo-footer.png', alt='footer logo')
							img.footer-logo(src='./assets/white-dot.jpg', alt='white dot')
						.col-3
							ul.footer-list
								li
									a.footer-link(href='http://www.brightonholidayhomes.co.uk/')
										strong
											| Brighton Holiday
											| Homes
								li 72b St George's Road, Brighton
								li East Sussex, BN2 1EF
								li 01273 624459
								li
									strong Company No: 0669 2866
								li
									strong VAT No: 898 895 141
						.col-3
							ul.footer-list
								li
									a.footer-link(href='https://web.archive.org/web/20181109014122/http://www.brightonholidayhomes.co.uk/company')
										| About
										| us
								li
									a.footer-link(href='https://web.archive.org/web/20181109014122/http://www.brightonholidayhomes.co.uk/groups')
										| Group
										| Accommodation
								li
									a.footer-link(href='https://web.archive.org/web/20181109014122/http://www.brightonholidayhomes.co.uk/let-your-property')
										| Let
										| your
										| property
								li
									a.footer-link(href='https://web.archive.org/web/20181109014122/http://www.brightonholidayhomes.co.uk/blog')
										| Brighton
										| Blog
						.col-3
							ul.footer-list
								li
									a.footer-link(href='http://www.brightonholidayhomes.co.uk/emergency-contact')
										| Emergency
										| Contact
								li
									a.footer-link(href='http://www.brightonholidayhomes.co.uk/resources') Resources
								li
									a.footer-link(href='http://www.brightonholidayhomes.co.uk/terms-and-conditions')
										| Terms &
										| Conditions
								li
									a.footer-link(href='https://plus.google.com/b/102501851703894954080/+brightonholidayhomes', rel='publisher', target='_blank') Find us on Google+
			.row
				.copyright.col-12
					| © Brighton Holiday Homes Ltd - Sitemap - XML Sitemap
		// SCRIPTS
		script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
		